<nav class="w-full py-3 bg-zinc-800 mt-4 menu-admin hidden">
    <div class="container flex flex-wrap items-center justify-between items-center mx-auto">
        <nav class="items-center justify-between flex w-full md:order-1 ">
            <ul class="flex md:flex-row md:space-x-8 md:text-sm md:font-medium my-2">
                <li>
                    <a class="link" href="../">К курсу</a>
                </li>
                <li>
                    <a class="link" href="../../">К курсам</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>

{{>quote quote=quote.dataValues}}

{{#day}}
    {{#dataValues}}
        <figure class="bg-zinc-800 mx-2 my-3 rounded-lg border-2 border-red-500 shadow-ms">
            <p class="mx-4 my-2 font-bold text-2xl text-red-500 my-2">Название:</p>
            <div class="mx-6 my-2 flex justify-start">
                <div class="mr-2">
                    <span class="font-bold text-red-500 mr-2">День:</span>
                    <span class="text-gray-100">{{day}}</span>
                </div>
                <div>
                    <span class="font-bold text-red-500 mr-2">Тренировка:</span>
                    <span class="text-gray-100">
                                        {{training.dataValues.trainingType.dataValues.name}}:
                        {{training.dataValues.name}}
                                    </span>
                </div>
            </div>
            <p class="mx-4 my-2 font-bold text-2xl text-red-500 my-2">Упражнения:</p>
            <div class="mx-6 my-2 flex flex-col">
                {{#each training.dataValues.trainingExercises}}
                    <div class="flex flex-col my-1">
                        {{#dataValues}}
                            <div>
                                <span class="text-red-500 text-md font-bold mr-1">№:</span>
                                <span class="exercise_duration text-gray-100 ">{{chain}}</span>
                            </div>
                            {{#exercise.dataValues}}
                                <div>
                                    <span class="text-red-500 text-md font-bold mr-1">Название:</span>
                                    <span class="exercise_name text-gray-100 ">
                                        {{exerciseType.dataValues.name}}: {{name}}
                                    </span>
                                </div>
                                <div>
                                    <span class="text-red-500 text-md font-bold mr-1">Описание:</span>
                                    <p class="exercise_name text-gray-100 ">
                                        {{description}}
                                    </p>
                                </div>
                                <div class="flex justify-between">
                                    <div>
                                        <span class="text-red-500 text-md font-bold mr-1">Длительность:</span>
                                        <span class="exercise_duration text-gray-100 ">{{duration}} сек.</span>
                                    </div>
                                    <div>
                                        <span class="text-red-500 text-md font-bold mr-1">Повторения:</span>
                                        <span class="exercise_repetitions text-gray-100 ">{{repetitions}}
                                            раз</span>
                                    </div>
                                    <div>
                                        <span class="text-red-500 text-md font-bold mr-1">Отдых:</span>
                                        <span class="exercise_rest text-gray-100 ">{{rest}} сек.</span>
                                    </div>
                                </div>
                            {{/exercise.dataValues}}
                        {{/dataValues}}
                    </div>
                {{/each}}
            </div>
        </figure>
    {{/dataValues}}
{{/day}}

<script src="/js/store/Course.js"></script>
<script>
    $('.role').each((i, e) => {
        const role = $(e).data('id')
        $(e).html("(" + new Auth().getNameRole(role) + ")")
    })

    $('#deleteCourse').on('click', (e) => {
        const el = $(e.target),
                id = el.data('id')
        new Course().delete(id)
    })
</script>