<header class="w-full py-3 bg-zinc-800 mt-4 menu-admin hidden">
    <div class="container flex flex-wrap items-center justify-between items-center mx-auto">
        <nav class="items-center justify-between flex w-full md:order-1 ">
            <ul class="flex md:flex-row md:space-x-8 md:text-sm md:font-medium my-2">
                <li>
                    <a class="link" href="/training">Тренировки</a>
                </li>
                <li>
                    <a class="link" href="/training/types">Типы тренировок</a>
                </li>
            </ul>
            <ul class="flex md:flex-row md:space-x-8 md:text-sm md:font-medium my-2">
                <li>
                    <a class="link_success" id="addTrainingType">Добавить тип тренировок</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div id="trainingTypes_container" class="grid grid-cols-2 gap-3 container mx-auto my-10">
    {{#if types}}
        {{#forEach types}}
            <figure id="card{{id}}" class="bg-zinc-800 rounded-lg border border-red-500 shadow-ms">
                <div class="flex justify-between px-4 pt-4 mb-2">
                    <div class="flex flex-col my-1">
                        <p class="trainingType_name text-red-500 font-bold ">{{name}}</p>
                    </div>
                    <button id="dropdownButton{{id}}" data-dropdown-toggle="dropdown{{id}}"
                            class="menu-admin hidden sm:inline-block text-gray-100 hover:bg-zinc-600 focus:outline-none focus:ring-4 focus:outline-none focus:ring-zinc-500 rounded-lg text-sm p-1.5"
                            type="button">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path>
                        </svg>
                    </button>
                    <div id="dropdown{{id}}"
                         class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow">
                        <ul class="py-1" aria-labelledby="dropdownButton{{id}}">
                            <li>
                                <a type="button"
                                   data-id="{{id}}"
                                   data-name="{{name}}"
                                   class="cursor-pointer editTrainingType block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Изменить</a>
                            </li>
                            <li>
                                <a data-id="{{id}}" type="button"
                                   class="cursor-pointer deleteTrainingType block py-2 px-4 text-sm text-red-600 hover:bg-gray-100">Удалить</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </figure>
        {{/forEach}}
    {{/if}}
</div>

{{> modal.createTrainingType}}
{{> modal.updateTrainingType}}

<script src="/js/store/Training.js"></script>
<script>
    const container = $('#trainingTypes_container')

    $('#addTrainingType').on('click', (e) => {
        e.preventDefault()
        modalToggle($('#createTrainingType'))
    })

    container.on('click', '.editTrainingType', (e) => {
        const el = $(e.target),
                id = el.data('id'),
                name = el.data('name')
        const modal = $('#updateTrainingType'),
                iId = modal.find('#id'),
                iName = modal.find('#name')
        iId.val(id)
        iName.val(name)
        modalToggle(modal)
    })

    container.on('click', '.deleteTrainingType', (e) => {
        const el = $(e.target),
                id = el.data('id')
        new Training().deleteType(id)
    })
</script>